{% extends 'base.html.twig' %}

{% block title %}Boutique | {% endblock %}

{% block body %}
        <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    {% if category is defined %}
                        <div class="filter-block">
                            <h4 class="title-ftblock">Categories</h4>
                            <h5 class="" style="font-size=16px;">{{category.name}}</h5>
                            <ul class="categories-ft">
                                {% for subCategory in category.subCategories %}
                                    <li><a href="{{(path('shop_sub_category', {'category_slug': category.slug, 'slug': subCategory.slug}))}}">{{subCategory.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <form method="get">
                        <div class="filter-block">
                            <h4 class="title-ftblock">Taille</h4>
                            <div class="fw-mark">
                                <div class="mark-item-container">
                                    <label for="s">
                                        S
                                        <input type="checkbox" id="s">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="m">
                                        M
                                        <input type="checkbox" id="m">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="l">
                                        L
                                        <input type="checkbox" id="l">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="xl">
                                        XL
                                        <input type="checkbox" id="xl">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="xxl">
                                        XXL
                                        <input type="checkbox" id="xxl">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-block">
                            <h4 class="title-ftblock">Prix</h4>
                            <div class="filter-range-wrap">
                                <div class="filter-range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                                <div class="filter-price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="500" data-max="50000">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                            </div>
                            {# <a href="#" class="filter-btn">Filter</a> #}
                        </div>
                        <div class="filter-block">
                            <h4 class="title-ftblock">Couleur</h4>
                            <div class="fw-mark">
                                <div class="mark-item-container">
                                    <label for="noir">
                                        Noir
                                        <input type="checkbox" id="noir">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="rouge">
                                        Rouge
                                        <input type="checkbox" id="rouge">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="bleu">
                                        Bleu
                                        <input type="checkbox" id="bleu">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="vert">
                                        Vert
                                        <input type="checkbox" id="vert">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="blanc">
                                        Blanc
                                        <input type="checkbox" id="blanc">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="jaune">
                                        Jaune
                                        <input type="checkbox" id="jaune">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="mark-item-container">
                                    <label for="violet">
                                        Violet
                                        <input type="checkbox" id="violet">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-block">
                            <button type="submit" class="filter-btn btn-block mt-1">Filtrer</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Trier par defaut</option>
                                        <option value="">Prix</option>
                                        <option value="">Date</option>
                                    </select>
                                    <select class="sorting">
                                        <option value="">Ordre par defaut</option>
                                        <option value="">plus petit au plus grand</option>
                                        <option value="">plus grand au plus petit</option>
                                    </select>
                                </div>
                            </div>
                            {# <div class="col-lg-5 col-md-5 text-right">
                                <p>Show 01- 09 Of 36 Product</p>
                            </div> #}
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row mb-1">
                            {% for product in products %}
                                {% include "partials/_product_cart.html.twig" with {'product' : product} %}
                            {% endfor %}
                        </div>
                    </div>
                    {# <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Loading More
                        </a>
                    </div> #}
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
{% endblock body %}
