{{form_start(form)}}
<div class="row">
	<div class="col-12 col-md-9">
        <div class="form-group">
		    {{form_row(form.name)}}
        </div>
	</div>
	<div class="col-12 col-md-3 d-md-flex align-items-md-end">
        <div class="form-group">
		    <input type="submit" class="btn btn-primary " value="{{submitValue}}">
        </div>
	</div>
</div>
{{form_end(form)}}
