{% extends "admin/base.html.twig" %}

{% block body %}
<div class="container mt-4">
    <h1 class="h3">modifier la categorie</h1>
    {% include "admin/category/_form.html.twig" with {'submitValue': 'modifier la catégorie'} %}
</div>
{% endblock %}